/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* GLOBAL ELEMENTS */

* {
    box-sizing: border-box;
    outline: none;
}


html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-sefir;;
    background-image: url("https://i.ibb.co/XZ35t6w/light-background-image.jpg");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    height: 100vh;
}

h2 {
    font-weight: 500;
}

/* LINKS */

a {
    text-decoration: none;
    color: inherit;
}

/* SCROLLBARS */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* BACKGROUND */

.video-bg {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    max-width: 100%;
}


/* APP SECTION*/

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1600px;
    max-height: 1200px;
    height: 90vh;
    width: 100%;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3);
}


/* APP HEADER */
.header {
    height: 3.625rem;
    display: flex;
    font-weight: 500;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: center;
    flex-shrink: 0;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(20px);
    border-radius: 14px 14px 0 0;
    border-bottom: 1px solid whitesmoke;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.header-links a {
    width: 25%;
    z-index: 3;
    padding: 1.3125rem;
}

.header-links a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.header-searchbar {
    width: 20%;
    align-self: center;
}

.header-searchbar > input {
    line-height: 1.7em;
    width: 80%;
    border-radius: 7px;
    padding-left: 1em;
    font-size: 1em;
    border: none;
    background: rgba(255, 255, 255, 0.9);
}

.header-searchbar > input::placeholder {
    color: rgba(0, 0, 0, .85)
}

.header-profile {
    display: flex;
    font-size: 1.25em;
    width: 15%;
    justify-content: space-evenly;  
    align-items: center;
    color:rgba(0, 0, 0, .85);
}

.fa-bell {
    position: relative;
}

.fa-bell::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    right: -2px;
    border-radius: 50%;
    background-color: rgba(174, 105, 255, 1);
}

/* BACKGROUND BLOCK FOR LEFT MENU AND MAIN */

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* LEFT MENU */

.left-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    overflow: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    color: rgba(0, 0, 0, .85);
    scrollbar-color: white white;
}


/* LEFT WRAPPERS */

.left-wrapper {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    padding-bottom: 1em;
    margin-top: 2em;
}


.left-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5em;
}

.left-btn {
    font-weight: 200;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    border-radius: 5px;
    padding: 8px 0px; 
}

.left-btn i {
    font-size: 14px;
    padding-right: 0.45em;
    padding-left: 0.45em;
    width: 15%;
    margin-right: 5px;
}

.left-btn p {
    width: 80%;
}

.left-btn span {
    flex-shrink: 0;
    border-radius: 8px;
    width: 22px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    margin-right: 4%;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgba(174, 105, 255, 1)
}

.left-btn:hover {
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    cursor: pointer;
}


/* MAIN */
.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    border-left: 1px solid whitesmoke;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 96%;
    margin: 1rem auto;
}

/* MAIN BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 96%;
    height: 30%;
    margin: 2% auto;
    padding: 2%;
    border-radius: 12px;
    background-color: rgba(174, 105, 255, 1);
}

.banner-text {
    width: 80%;
    align-self: flex-start;
    border: 12px;
}

.banner-text h3 {
    text-align: left;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.7em;
}

.banner-text p {
    line-height: 1.5em;
}

.banner img {
    display: block;
    max-height: 96%;
    width: 20%;
    border-radius: 12px;
    object-fit: contain;
}

/* MAIN WIDGETS */

.widgets {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.widget-wrapper {
    width: 23%;
    height: 20em;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 15px;
}

.widget-wrapper:hover {
    transform: translate(0, -1%);
    box-shadow: 0px 3px 1px 0px rgba(174, 105, 255, 1);
}

.progress-circle {
    margin: 1em auto;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.progress-circle::after, .timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-circle::after {
    content: " ";
    width: 150px;
    height: 150px;
    border-radius: inherit;
}

.circle {
    stroke-dasharray: 410;
    stroke-linecap: round;
    transform: rotate(-90deg);
    animation: bar-fill 20s linear forwards;
}

.bg-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 0;
    left: 0;
}







/* MEDIA */

/*  iPhone 11 and iPhone XR
iPhone 13 mini, iPhone 12 mini, iPhone 11 Pro, iPhone Xs, and iPhone X
iPhone 13, iPhone 12 and iPhone 12 Pro
iPhone 13 Pro Max and iPhone 12 Pro Max
*/
@media screen and (max-width: 834px), 
    (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2)
    ,(device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    ,(device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3)
    ,(device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3){
    .video-bg {
        display: none;
    }

    body {
        width: 100%;
        height: 100vh;
        background: url("https://i.ibb.co/XZ35t6w/light-background-image.jpg");
        background-size: cover;
        padding: 0;
    }

    .app {
        height: 100vh;
        width: 99vw;
    }

    .left-nav {
        display: none;
    }

    .main {
        width: 100%;
    }

    .header-links {
        display: none;
    }

    .header-searchbar {
        width: 50%;
    }

    .header-profile {
        width: 50%;
    }

    .banner {
        width: 96%;
        align-items: center;
    }

    .section {
        width: 96%;
    }

    .banner-text {
        width: 96%;
        align-self: center;
    }

    .banner img {
        display: none;
    }

    .widgets {
        flex-direction: column;
    }

    .widget-wrapper {
        width: 100%;
        margin-bottom: 2%;
    }

    .progress-circle {
        margin: 2%;
    }
}

