/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* GLOBAL ELEMENTS */
* {
    box-sizing: border-box;
    outline: none;
}

:root {
    --body-font: "Poppins", sans-sefir;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-image: url(/src/images/light-background-image.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    height: 100vh;
}

/* BACKGROUND */

.video-bg {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    max-width: 100%;
}


/* APP SECTION*/
.app {
    max-width: 1280px;
    max-height: 900px;
    height: 90vh;
    width: 100%;
    border-radius: 14px;
    border: 1px solid black;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 480px) {
    body {
        padding: 0.8em;
    }
}